/* 
primary: #3D342F
secondary: #E06F25
*/
body {
  color: #3d342f !important;
}
ul {
  list-style: none;
  padding-left: 0;
}
/* h3,
.section-title {
  font-size: 3rem;
}
h4,
.fs-4 {
  font-size: 2.5rem !important;
}
.fs-5 {
  font-size: 2.25rem !important;
}
p,
span,
li,
label,
input,
select,
.btn-primary {
  font-size: 2rem;
}
.fs-xs {
  font-size: 1.5rem;
} */

/* @media (min-width: 540px) {
  h3,
  .section-title {
    font-size: 2.5rem;
  }
  h4,
  .fs-4 {
    font-size: 1.75rem !important;
  }
  .fs-5 {
    font-size: 1.6re !important;
  }
  p,
  span,
  li,
  label,
  input,
  select,
  .btn-primary {
    font-size: 1.5rem;
  }
  .fs-xs {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  h3,
  .section-title {
    font-size: 2rem;
  }
  h4,
  .fs-4 {
    font-size: 1.25rem !important;
  }
  .fs-5 {
    font-size: 1.2rem !important;
  }
  p,
  span,
  li,
  label,
  input,
  select,
  .btn-primary {
    font-size: 1rem;
  }
  .fs-xs {
    font-size: 0.75rem;
  }
} */

@media (min-width: 768px) {
  .w-md-50 {
    width: 50%;
  }
  .w-md-75 {
    width: 75%;
  }
}

.bg-primary {
  background: #3d342f !important;
}
.btn-primary {
  border: 1px solid #3d342f;
  background: #3d342f !important;
}
.btn-primary:hover {
  border: 1px solid #3d342f;
  background: #4d443e !important;
}

.text-promo {
  font-weight: bold;
  font-size: 2.5rem;
  color: #d62424;
}
@media (min-width: 540px) {
  .text-promo {
    font-size: 1.75rem;
  }
}
@media (min-width: 768px) {
  .text-promo {
    font-size: 1.25rem;
  }
}
.text-line-through {
  font-weight: normal;
  color: #888;
  text-decoration: line-through;
}

.swiper {
  width: 1200px;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.navbar {
  padding: 0.5rem 2rem;
}
@media (min-width: 768px) {
  .navbar {
    padding: 0 2rem;
  }
}
.nav-item {
  padding: 0.5rem;
}
.nav-link {
  padding: 1rem;
  font-size: 2rem;
  color: #e06f25;
}
.nav-link:hover {
  color: #f99348 !important;
}
@media (min-width: 768px) {
  .nav-link {
    font-size: 1.25rem;
  }
}

.logo {
  width: 80px;
}
@media (min-width: 768px) {
  .logo {
    width: 70px;
  }
}
.kv,
.kv-title,
.kv-logo {
  background-position: center;
  background-size: cover;
}
.kv {
  height: 600px;
  background-image: url(img/banner.png);
  position: relative;
}
.kv-title {
  background-image: url(img/banner-text.png);
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 25%;
  width: 45%;
  height: 25%;
}
.kv-logo {
  background-image: url(img/logo.png);
  position: absolute;
  z-index: 1;
  top: 22%;
  left: 1%;
  width: 30%;
  height: 65%;
}
@media (min-width: 768px) {
  .kv {
    height: 550px;
  }
  .kv-title {
    width: 45%;
    height: 29%;
  }
}

.card {
  border: none;
  background: transparent;
  align-items: center;
}
.card-img-rounded {
  width: 33%;
  border-radius: 50%;
  border: 6px solid #4d443e;
}
@media (min-width: 768px) {
  .card-img-rounded {
    width: 75%;
  }
}
.card-body {
  padding: 2rem 0;
  text-align: center;
}

.wrapper {
  /* position: absolute; */
  top: 130px;
}
@media (min-width: 768px) {
  .wrapper {
    top: 78px;
  }
}
.section {
  padding: 4rem 2.5rem;
}
@media (min-width: 768px) {
  .section {
    padding: 4rem 5rem;
  }
}
.section-title {
  color: #e06f25;
  text-align: center;
  margin-bottom: 4rem;
}

.type-img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .type-img {
    height: 100%;
  }
}

.cart {
  background: #b5a083;
  margin: 0 auto;
  padding: 2rem 2.5rem;
  border-radius: 0.5rem;
}
.cart-wrapper,
.cart-item {
  background: #fff;
  border-radius: 0.5rem;
}
.cart-wrapper {
  padding: 3.5rem 3rem;
}
.cart-item {
  margin-bottom: 1.5rem;
  padding: 1rem 1.25rem;
  border-right: 2px solid #000;
  border-bottom: 3px solid #000;
}
.cart-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 15%;
}
@media (min-width: 768px) {
  .cart-wrapper {
    padding: 2rem 1.5rem;
  }
  .cart-item {
    padding: 1rem 0.75rem;
  }
}
.cart-input,
.cart-select {
  width: 100%;
  border: none;
  border-radius: 0.5rem 0.5rem 0;
  background: #eee;
}
.cart-select {
  padding: 0.4rem;
}
.cart-input {
  padding: 0.25rem;
}
.cart-input:focus {
  outline: none;
  box-shadow: none;
}
.cart-input:focus + .cart-input-border,
.cart-input:active + .cart-input-border {
  width: 100%;
}
.cart-input-border {
  display: block;
  height: 3px;
  width: 0;
  background-color: #000;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.footer {
  background: #3d342f;
  padding: 1.5rem 0;
  text-align: center;
  color: #fff;
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
}
